{% extends "base.html" %}

<!-- head -->

{% block head %} {% endblock %}

<!-- body -->

{% block body %}
<h1>Dictionary App</h1>

<input type="text" id="textBar" />
<button onclick="redirect()">LookUp</button>

<script>
    function redirect() {
        text = document.getElementById("textBar");
        if (text) {
            window.location.href = `/${text.value}`;
        }
    }

    document.addEventListener("DOMContentLoaded", function () {
        // Add keydown event listener for Enter key
        let inputField = document.getElementById("textBar");
        inputField.addEventListener("keydown", function (event) {
            if (event.key === "Enter") {
                redirect();
            }
        });
    });
</script>
{% endblock %}
