{% extends "base.html" %}

<!-- head -->

{% block head %} {% endblock %}

<!-- body -->

{% block body %}

{% include "input.html" %}

<main class="container">
  <h3>My dictionary app</h3>

  <p>They are around <em>170,000</em> thousand different definitions.</p>

  <!--
  <h3>API</h3>
  <p>You can make get request if you want. No registration required.</p>
  <p>Make a request at <kbd>vps.jorge.sh/flask/api</kbd></p>
  <pre><code>
    // JSON response
    {
      word: $word
      definitions: ["def 1", "def 2", "def 3"]
    }
  </code></pre>
  -->
</main>
{% endblock %}
