<style>

  .input-row {
    display: flex;
    flex-direction: column;
  }

  #textBar {
    height: 100%;
  }
</style>

<section class="container input-row">

  <input type="text" id="textBar" />
  <button onclick="redirect()">LookUp</button>

  <script>
      function redirect() {
          text = document.getElementById("textBar");
          if (text) {
              window.location.href = `/words/${text.value}`;
          }
      }

      document.addEventListener("DOMContentLoaded", function () {
          // Add keydown event listener for Enter key
          let inputField = document.getElementById("textBar");
          inputField.addEventListener("keydown", function (event) {
              if (event.key === "Enter") {
                  redirect();
              }
          });
      });
  </script>

</section>
